@using DTSMCC_WebApp.ViewModels
@model CreateViewModel

@{
    ViewData["Title"] = "Create Department";

    @foreach (var item in Model.Departments)
    {
        
    }

}

<h1>Create Department</h1>

<p>
    <a asp-action="Index"><= Back</a>
</p>

@using (Html.BeginForm("Create", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <td>
                <input type="text" id="@Model.Departments" name="@Model.Departments">
            </td>
        </tr>
        <tr>
            <th>
                Division Name
            </th>
            <td>
                <select name="DivisionId" id="DivisionId">
                    @foreach (var item in Model.Divisions)
                    {
                        <option value="item.Division.Id">@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Create">
            </td>
        </tr>
    </table>
}
